In [1]:
import pandas as pd
import reverse_geocode

In [2]:
df = pd.read_csv("significant_earthquakes1965-2016.csv",sep=",")
df.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

In [3]:
def obtain_country(lat,long):
    c = reverse_geocode.search([(lat,long)])[0]["country"]
    return c

In [4]:
df["Country"] = df.apply(lambda x: obtain_country(x["Latitude"],x["Longitude"]),axis=1)
df.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status,Country
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic,Northern Mariana Islands
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic,Indonesia
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic,Tonga
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic,South Georgia and the South Sandwich Islands
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic,Philippines

In [8]:
pd.set_option('display.max_rows', 500)
df["Country"].value_counts()

Indonesia                                       3080
Tonga                                           2127
Japan                                           1802
Papua New Guinea                                1559
Russian Federation                              1544
Chile                                           1262
Vanuatu                                         1016
United States                                    982
Philippines                                      900
Solomon Islands                                  769
New Zealand                                      533
South Georgia and the South Sandwich Islands     532
Mexico                                           520
Peru                                             398
China                                            357
Wallis and Futuna                                298
Australia                                        288
Saint Helena                                     282
Fiji                                             254
Argentina                                        237
Ecuador                                          223
Pitcairn                                         199
Taiwan                                           198
New Caledonia                                    194
India                                            184
Iran, Islamic Republic of                        169
Afghanistan                                      159
Greece                                           151
Northern Mariana Islands                         150
Panama                                           141
Brazil                                           136
Guam                                             127
Guatemala                                        117
South Africa                                     116
Turkey                                           110
Colombia                                         108
Nicaragua                                        107
Kazakhstan                                       107
Portugal                                          96
Canada                                            92
Pakistan                                          89
Micronesia, Federated States of                   85
French Southern Territories                       84
Mauritius                                         76
Maldives                                          70
Antarctica                                        67
Costa Rica                                        67
El Salvador                                       64
Yemen                                             59
Myanmar                                           55
Bolivia                                           49
Svalbard and Jan Mayen                            46
Italy                                             45
Guadeloupe                                        45
French Guiana                                     45
Madagascar                                        41
Kyrgyzstan                                        36
French Polynesia                                  35
Tajikistan                                        31
Falkland Islands (Malvinas)                       30
Venezuela                                         30
Greenland                                         28
Iceland                                           26
Honduras                                          25
Dominican Republic                                24
Nepal                                             22
Timor-Leste                                       21
Reunion                                           20
Tanzania, United Republic of                      19
Djibouti                                          19
Algeria                                           18
Trinidad and Tobago                               17
Cocos (Keeling) Islands                           17
Samoa                                             16
Barbados                                          15
Tuvalu                                            13
Antigua and Barbuda                               13
Romania                                           13
Congo, The Democratic Republic of the             13
Mongolia                                          13
Uzbekistan                                        11
Norway                                            11
Ethiopia                                          10
Georgia                                           10
Christmas Island                                   9
Cayman Islands                                     9
Azerbaijan                                         8
Egypt                                              8
Sri Lanka                                          8
Turkmenistan                                       8
Haiti                                              7
Cyprus                                             7
Virgin Islands, British                            6
Puerto Rico                                        6
Malawi                                             6
South Sudan                                        6
Albania                                            6
Martinique                                         5
Croatia                                            5
Zambia                                             5
Morocco                                            5
Thailand                                           5
Uganda                                             5
Bosnia and Herzegovina                             5
Cuba                                               5
Palau                                              5
Norfolk Island                                     4
Korea, Democratic People's Republic of             4
Eritrea                                            4
Zimbabwe                                           4
American Samoa                                     4
Spain                                              4
Malaysia                                           4
Bhutan                                             4
Bangladesh                                         4
Somalia                                            4
Saudi Arabia                                       3
                                                   3
Sudan                                              3
Lao People's Democratic Republic                   3
Montenegro                                         3
Anguilla                                           3
Rwanda                                             3
Jamaica                                            3
Saint Kitts and Nevis                              2
Iraq                                               2
Bulgaria                                           2
Dominica                                           2
Libyan Arab Jamahiriya                             2
Cape Verde                                         2
Armenia                                            2
Serbia                                             2
Montserrat                                         2
Niue                                               1
Cote d'Ivoire                                      1
Belgium                                            1
Macedonia                                          1
Jordan                                             1
Guinea                                             1
Sierra Leone                                       1
Syrian Arab Republic                               1
Vietnam                                            1
Marshall Islands                                   1
Kenya                                              1
France                                             1
Grenada                                            1
Virgin Islands, U.S.                               1
Senegal                                            1
Congo                                              1
Turks and Caicos Islands                           1
Poland                                             1
Oman                                               1
Gabon                                              1
Bermuda                                            1
Korea, Republic of                                 1
Slovenia                                           1
Mozambique                                         1
Name: Country, dtype: int64

In [9]:
# export
df.to_csv("significant_earthquakes1965-2016_with_countries.csv",sep=",")